* {
  box-sizing: border-box;
}


body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #dbeafe, #93c5fd);
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}

.app {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background: white;
  border-radius: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px;
  border: none;
  background: black;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.quote-list {
  margin-top: 20px;
}

.quote-card {
  background: #f1f1f1;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.quote-card p {
  font-size: 18px;
  margin: 0 0 8px;
}

.quote-card h3 {
  margin: 0 0 12px;
  color: #444;
}

.quote-card button {
  background: crimson;
}